:root {
    --cor-roxo: rgb(98, 32, 193);
    --cor-azul-escuro: rgba(0, 92, 255, 1);
    --cor-branco: #ffffff;
    --cor-cinza: #777;
    --cor-cinza-claro: #e6e7e9;
    --cor-cinza-claro-2: #f5f5f5;
    --cor-cinza-escuro: #666;
    --cor-azul-claro: #4177f6;
    --cor-preto: #000;
    --cor-verde: #28a745;
    --cor-azul-claro-2: #007bff;
    --cor-azul-escuro-2: #0056b3;
}

