.intiticional-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--cor-cinza-claro-2);
    padding: 2%;
    padding: 110px;
    margin-top: 2%;
    gap: 2%;
    gap: 6%;
}

ul.rodape-lista {

    padding: 0px;
}

.intiticional-container li a {
    text-decoration: none;
    color: var(--cor-preto);
}

.intiticional-container li a:hover {
    text-decoration: underline;
}

.intiticional-container li:not(:last-child) {
    margin-bottom: 12px;
}

.pagaments {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    gap: 3%;
    
}

.rodape-marca {
    width: 100%;
    width: 194px;
    height: 93px;
    top: 64px;
    left: 396px;
    margin: 0;
}

.rodape-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20%;
}

footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.formas-pagamento {
  margin-bottom: 20px; 
}

.institucional {
  font-size: 14px;
  color: #666;
}
